* {
  margin: 0px auto;
  padding: 0px;
}

/* body {
  width: 100%;
  height: 100vh
} */

header {
  background: linear-gradient(
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5)
    ),
    url("./src/Joshua.jpg");
  height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
}

header .icon{
  display: none;
}

nav:hover .menu{
  display: block;
}

nav .icon:hover + .menu{
  display: block;
}


nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: rgba(36, 33, 33, 0.404);
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}
nav > div {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  justify-content: flex-start;
  padding: 10px;
  width: 30%;
}

.logo > a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 0px 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.logo > a:hover {
  border: 2px solid #5f3521;
}
.menu {
  width: 50%;
}

nav > .menu > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

nav > .menu > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  padding: 10px 10px;
}

nav > .menu > ul > li > a:hover {
  border-bottom: 2px solid #5f3521;
}

@media screen and (max-width: 800px) {
  nav {
    justify-content: space-between;
  }

  nav > div {
    display: block;
  }
  nav .logo > a {
    text-align: left;
  }
  .menu {
    display: none;
    position: absolute;
    top: 37px;
    min-width: 100%;
    
  background-color: rgba(36, 33, 33, 0.404);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li{
    display: block; 
  }

  header .icon {
    display: block;
  }

}

main {
  display: flex;
  align-items: center;
  height: 110vh;
  width: 100vw;
  position: relative;
}

.intro {
  height: 50%;
  width: 40%;
  position: absolute;
  right: 50px;
  bottom: 150px;
} 

main > .intro > h3 {
  font-size: 4rem;
  font-family: sans-serif;
  color: white;
}

main > .intro > p {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

main > .intro > a > i {
  color: white;
  font-size: 15px;
  background-color: #5f3521;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
}

main > .action {
  margin-right: 50px;
}

.action button {
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  font-family: sans-serif;
  font-weight: 200;
  padding-right: 10px;
}

.action button:hover {
  background-color: #5f3521;
  color: white;
  cursor: pointer;
}

.action a {
  color: white;
  font-family: sans-serif;
  padding: 10px 0px;
  font-style: italic;
}

@media screen and (max-width: 800px){
  .intro {    
    height: 100%;
    width: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    right: 0px !important;
    bottom: 0px !important;
    /* border: 2px solid green ; */
  } 

  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main > .intro > h3 {
    font-size: 4rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
  }

  main > .intro > p {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
  }


}

/* This is where I'm trying to style the about me section */
#about {
  height: 100%;
}

#about > h1 {
  padding: 30px;
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
}

.about-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-main > div {
  height: 400px;
  width: 500px;
  margin: 30px;
}

.description > h1 {
  padding: 30px;
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
}

.description > p {
  font-family: sans-serif;
  color: gray;
  font-size: 15px;
  margin: 10px 0px;
  line-height: 30px;
  text-align: justify;
}

.about-main > .play > iframe {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.about-main > .description > .footerr > a {
  text-decoration: none;
  font-size: 30px;
  color: #5f3521;
  text-align: center;
  padding: 10px;
}

#about > .about-main > .description > .footerr {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

#skills {
  height: 50%;
  background-color: #5f3521;
  padding: 20px
}

#skills > .skill-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skills > h1 {
  text-align: center;
  padding: 30px;
  font-size: 2rem;
  font-family: sans-serif;
  color: white;
}

#skills > .skill-wrapper > div {
  height: 100px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

#skills > .skill-wrapper > div > i {
  color: #5f3521;
  font-size: 35px;
}

.progress-container {
  height: 20px;
  width: 100%;
  background-color: gray;
  overflow: hidden;
  display: block;
  border-radius: 10px;
}

.progress-container > .html {
  height: 20px;
  background-color: #5f3521;
  float: left;
  width: 90%;
  animation: rolling 5s;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.progress-container > .css {
  height: 20px;
  background-color: #5f3521;
  float: left;
  width: 70%;
  animation: rolling 5s;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.progress-container > .js {
  height: 20px;
  background-color: #5f3521;
  float: left;
  width: 50%;
  animation: rolling 5s;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.progress-container > .react {
  height: 20px;
  background-color: #5f3521;
  float: left;
  width: 40%;
  animation: rolling 5s;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}


.progress-container > .bootstrap {
  height: 20px;
  background-color: #5f3521;
  float: left;
  width: 90%;
  animation: rolling 5s;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@keyframes rolling {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

#projects {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#projects h1 {
  text-align: center;
  font-family: sans-serif;
  padding: 30px;
  font-size: 2rem;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  padding: 20px;
}

.projects-wrapper > div {
  height: 200px;
  width: 400px;
  background-color: rgba(95, 53, 33, 0.383);
  padding: 10px;
  margin: 10px;
}

.projects-wrapper > div:nth-child(1) {
  width: 500px;
  background-image: url("src/tech-toys.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(2) {
  width: 250px;
  background-image: url("src/signup.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(3) {
  width: 250px;
  background-image: url("src/LAPTOP_VIEW.PNG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(4) {
  width: 250px;
  background-image: url("src/i-solve.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(5) {
  width: 250px;
  background-image: url("src/badge.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(6) {
  width: 500px;
  background-image: url("src/trading-card.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(7) {
  width: 500px;
  background-image: url("src/Ogodo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(8) {
  width: 250px;
  background-image: url("src/DE_CULTURE.PNG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(9) {
  width: 250px;
  background-image: url("src/WORK\ \(3\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > div:nth-child(9) {
  width: 250px;
  background-image: url("src/WORK\ \(3\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-wrapper > .first-project {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 635px;
  margin-left: 30px;
}

#testimonial > h1 {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

#testimonial > .testimonial-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#testimonial > .testimonial-wrapper > div {
  height: 450px;
  width: 300px;
  margin: 50px 0px;
}

#testimonial > .testimonial-wrapper > div > .images {
  width: 100%;
  height: 65%;
}

#testimonial > .testimonial-wrapper > div > .images > img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
}

#testimonial > .testimonial-wrapper > div > .testimony {
  background-color: #5f3521;
  color: whitesmoke;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 20px;
}
#testimonial > .testimonial-wrapper > div > .testimony > a,
i {
  color: white;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
}

#contact {
  height: 100%;
}

#contact h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  padding: 30px;
}

#contact .contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-around;
  align-items: center;
}

#contact .contact-details,
.map {
  height: 500px;
  width: 500px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#contact .contact-details > h5 {
  padding: 0px;
  font-family: sans-serif;
  color: gray;
  line-height: 30px;
  font-size: 20px;
}

#contact > .map > iframe {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #5f3521;
}

footer > .social > h3 {
  color: white;
  font-family: sans-serif;
}

footer > h3 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding: 40px;
}

footer > .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

footer > .social > .icontainer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

footer > .social > .icontainer > i {
  text-align: center;
  padding: 15px;
  margin: 10px;
  color: #5f3521;
  background-color: white;
  border-radius: 50%;
  font-size: 15px;
}

strong {
  color: black;
  font-size: 20px;
}
